# Ignore all binaries without file extensions
*
!*.*
!*/

# Unignore Makefiles
!Makefile

# Ignore addin build dirs
addins/*/build

# Ignore generated test vectors
fptests/vectors

# Ignore ModelSim artifacts
work/
*.wlf
transcript
*.vcd
*.saif

# Ignore Synopsys artifacts
synthDC/WORK
synthDC/default.svf
synthDC/output
synthDC/*.out
synthDC/*.log

# Ignore compiled objects
bin/
target/
*.o

# Ignore test results
results*.txt