# Ignore all binaries without file extensions
*
!*.*
!*/

# Unignore Makefiles
!Makefile

# Ignore addin build dirs
addins/*/build

# Ignore ModelSim artifacts
work/
*.wlf
transcript
*.vcd
*.saif

# Ignore compiled objects
bin/
target/
*.o